name: spinnaker-auto-install
env:
  SPINNAKER_VERSION: 1.21.0
  KUBECTL_VERSION: v1.18.0

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  #schedule:
  #  - cron:  5 0 * * * 
      # Runs at 00:05 UTC every day
      # https://tool.lu/crontab/ 
  #watch:
  #    types: started   

jobs:
  Deploy:
    runs-on: ubuntu-latest
    #runs-on: ubuntu-18.04
    #if: github.event.repository.owner.id == github.event.sender.id
    # https://p3terx.com/archives/github-actions-manual-trigger.html
    
    steps:
    - uses: actions/checkout@v2

    - name: Install Halyard
      run: |
        echo "###user" && whoami 
        echo "###system version" &&  cat /etc/issue
        echo "###docker info" && docker info 
        
        curl -O https://raw.githubusercontent.com/spinnaker/halyard/master/install/debian/InstallHalyard.sh
        chmod +x ./InstallHalyard.sh
        sudo bash InstallHalyard.sh --user runner -y

        hal -v    
        hal version list
        hal version bom ${SPINNAKER_VERSION} -q -o yaml > hal-bom.yaml

    - name: Create Artifact
      run: mkdir staging && cp bom.yaml staging
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
         name: hal-bom-${{github.sha}}
         path: staging      

    - name: Install Kubectl and Configuration
      run: |
        pwd
        cd /home/runner
        
        curl -LO https://storage.googleapis.com/kubernetes-release/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl
        chmod +x ./kubectl
        sudo mv ./kubectl /usr/bin/kubectl
        
        mkdir /home/runner/.kube
        cat <<-EOF > /home/runner/.kube/config
        ${{ secrets.KUBECONFIG }}
        EOF

        kubectl version
    
    - name: Config kubernetes Cluster
      run: |
        sudo hal config version edit --version ${SPINNAKER_VERSION}

        hal config provider kubernetes enable
        hal config provider kubernetes account add my-k8s \
           --provider-version v2 \
           --context $(kubectl config current-context)
        hal config deploy edit --type=distributed --account-name my-k8s
        
        ### Add Other kubernetes Cluster
        ### hal config provider kubernetes account add my-k8s-int --provider-version v2  --kubeconfig-file /root/.kube/config
    
    - name: Config storage
      run: |
        hal config storage edit --type redis

        #### config s3

    - name: Config Spinnaker features
      run: |
        ###hal config features edit --jobs true
        hal config features edit --pipeline-templates true
        hal config features edit --artifacts true
        hal config features edit --managed-pipeline-templates-v2-ui true

    - name: Config Spinnaker Images
      run: |
        cd /home/runner/.hal/default/ && \
        mkdir service-settings && \
        cd service-settings    

